@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Merienda&family=Poly&display=swap');


.navigation{
  position: sticky;
  top:15px;
  width: 100%;
  background-color: white;
  z-index: 15;
.burger{
  position: sticky;

  span{
    position: absolute;
  left:50px;
    width:25px;
   
    background-color: rgb(88, 86, 86);
  
    &:nth-child(1){
      transform: translate3d(0,10px,0);
      height: 4px;
    }
    &:nth-child(2){
      transform: translate3d(0,21px,0);
      height: 2px;
    }
    &:nth-child(3){
      transform: translate3d(0,30px,0);
      height: 4px;
    }
  }
}
  .menu{
  
  
    font-family: 'Beau Rivage', cursive;
 font-size: 25px;
      .nav-ul{
        display: flex;
        align-items: center;
        margin-left: 25px;
        
 
         ul {
         
            display: flex;
          justify-content: center;
            width: 100%;
         }
           a{
             color:black;
              list-style-type: none;
              text-decoration: none;
            }
         li{
            padding:20px;
            margin: 10px;
            
            list-style: none;
          
        &:hover{
          
            background-color: black;
            color:white;
            cursor: pointer;
            transition:  .5s ease-in-out;
        }
        }
      }
  }
}


@media(min-width:992px){
  .burger{
display: none;
}}

@media(max-width:992px){
  .menu{
      display: none;
  }
}